.header{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: maroon;
    color: white;
    .header-child{
        flex: 0 0 33%;
    }
    .logo{
        font-size: 40px;
    }
    .page-name{
        font-size: 24px;
        text-align: center;
    }
    .placeholder{
    }
}