.header{
    padding: 8px 16px 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    &.center{
        padding: 8px 0;
        justify-content: center;
        text-align: center;
    }
    .logo{
        flex: 1 0 50%;
        img{
            height: 80px;
            width: auto;
        }
    }
}
.page-name{
    font-size: 24px;
    text-align: center;
    color: white;
    margin-top: 10px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    svg{
        margin:0 16px;
    }
    span{
        flex: 0 0 62px;
    }
}