.clubs-container{
    .select-search__options{
        padding-left: 0;
        .select-search__option{
            color: #2FCC8B;
            &.is-selected{
                color: #ffffff;
            }
        }
    }
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-top: 60px;
    .page-header{
        font-size: 24px;
        color: white;
        margin-bottom: 32px;
    }
    .select-button{
        width: 100%;
        max-width: 400px;
        margin-top: 30px;
    }
    .select-search{
        width: 400px;
        max-width: 100%;
        input{
            background-color: #19183c;
            color: #ffffff;
            &::placeholder {
                color: #ffffff;
                opacity: 1; 
              }
              
              &:-ms-input-placeholder { 
                color: #ffffff;
              }
              
              &::-ms-input-placeholder {
                color: #ffffff;
              }
        }
    }
    input{
        width: 100%;
        max-width: 400px;
    }
}