.songs-list-container{
    .song-item{
        margin: 0 auto 20px;
    }
    .empty-state{
        color: #ffffff;
        text-align: center;
        margin-top: 40px;
        font-size: 20px;
    }
}