*{
    box-sizing: border-box;
}
p{
    margin: 0;
}

.container{
    padding: 16px;
    margin: 0 auto;
    height: calc(100vh - 140px);
}

.content{
    margin: 0 auto;
    max-width: 800px;
}

input{
    padding: 8px 12px;
    background: white;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 20px;
}

button{
    padding: 8px 12px;
    background: rgb(54, 2, 2);
    color: white;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    &:disabled{
        background-color: grey;
        cursor: auto;
    }
}

body{
    background: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    backdrop-filter: brightness(0.5);
}
input{
    color: #ffffff;
    background-color: #000000;
    &::placeholder {
        color: #ffffff;
        opacity: 1; 
      }
      
      &:-ms-input-placeholder { 
        color: #ffffff;
      }
      
      &::-ms-input-placeholder {
        color: #ffffff;
      }
}